body {
    min-width:940px;
    min-height:1162px;

    margin: 0;
    padding: 0;

    background: url("../img/item-bg-demo.jp") no-repeat center top;
    color: #000000;
}

.container {
    width: 940px;
    margin: 0 auto;

    padding: 0 10px;
}

.main-header {
    margin-bottom: 55px;

    background-color: #000000;
}


.main-navigation {
    width: 780px;
    float: left;
/*Убрать*/
    background-color:#282828;
    min-height:70px;
}

.user-block {
    width: 140px;
    float: right;
/*Убрать*/
    background-color:#282828;
    min-height:70px;
}

.item-header {
    margin-bottom: 50px;
/*Убрать*/
    min-height: 75px;
    background-color:rgba(50, 205, 112, 0.5) ;
}

.item-content {
    margin-bottom: 50px;
/*Убрать*/
    min-height: 670px;

}

.item-gallery {
    width: 460px;
    float: left;

    margin-right: 90px;
    font-size: 0px;
/*Убрать*/
    min-height: inherit;
    background-color: rgba(50, 205, 30, 0.56);
}

.item-gallery img:first-child {
    height: 500px;
    width: inherit;
    margin-bottom: 20px;
}
.item-gallery img:nth-child(2),
.item-gallery img:nth-child(3),
.item-gallery img:nth-child(4) {
    display: inline-block;
    height: 150px;
    width: 140px;
    margin-right: 20px;
}
.item-gallery img:last-child {
        margin-right: 0;
}

.right-side-block {
    width: 390px;
    float: right;

    padding-top: 30px;
/*Убрать*/
    min-height: 500px;
    background-color: rgba(50, 205, 30, 0.56);
}


.status-and-code span {
    display: block;
    margin-bottom: 20px;
}
.status-and-code span:nth-child(1) {
    float: left;
}
.status-and-code span:nth-child(2) {
    float: right;
}

.item-description {
    margin-bottom: 40px;
    min-height: 140px;
}

.item-price {
    height: 40px;
    margin-bottom: 60px;
}







.main-footer {
    margin-top: 50px;
    background-color: #202020;
}

.main-footer .container {
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    width: 320px;
    margin-right: 60px;
    float: left;
/*Убрать*/
    min-height: 90px;
    background-color: grey;
}

.footer-social {
    width: 180px;
    float: left;
/*Убрать*/
    min-height: 90px;
    background-color: grey;
}

.footer-copyright {
    width: 140px;
    float: right;
/*Убрать*/
    min-height: 90px;
    background-color:grey;
}





li {
    display: inline-block;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
