body {
    min-width:960px;
    min-height:1173px;

    margin: 0;
    padding: 0;

    background:#f8f5f2 url("") no-repeat center top;
    color: #000000;

    font-family: "PT Sans Narrow", "Arial", sans-serif ;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
}

.container {
    width: 940px;

    margin: 0 auto;
    padding: 0 10px;
}






/* --------- СТИЛИ ГЛАВНОГО МЕНЮ ---------- */






.main-header {
    margin-bottom: 55px;
/*Цвет текста лучше дублировать на всякий случай*/
    background-color: #000000;
    color: #ffffff;
    }


.main-navigation {
    width:780px;

    float: left;
}


.main-navigation a {
    display: block;
    padding: 25px 20px;

/*Для ссылок отдельное приглашение, цвет и стиль, иначе не сработает*/
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background-color: #242424;
}



.main-navigation ul,
.breadcrumbs ul,
.pagination ul {      /*Для списка меню сразу так делать*/
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 0px;     /*Убираем пробелы между блоками*/
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;

    font-size: 16px;    /*Возвращаем шрифт*/
    line-height: 20px;
}


.user-block {
    max-width:140px;

    float: right;
}

.login {
    display: inline-block;
    position: relative;

    vertical-align: top;
    padding: 25px 20px 25px 50px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    content: "" ;

    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 16px;
    background: url("../img/sprite.png") no-repeat center;
    background-position: -141px -12px;
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1;
}





/* ---------СТИЛИ КНОПОК----------- */





.btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    padding: 10px 33px;
    margin-right: 16px;

    color: #ffffff;
    background: #000000;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: "PT Sans Narrow", "Arial", sans-serif ;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:active,
.btn:hover {
    background: #663d15;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background: #000000;
}






/* ------ СТИЛИ ЗАГОЛОВКА И ХЛЕБНЫХ КРОШЕК ------- */





.shop-header {
    margin-bottom: 50px;

    min-width: 300px;
}

.shop-header  h1 {
    margin: 0;
    margin-bottom: 20px;

    font-size: 30px;
    line-height: 36px;
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: top;

    margin: 0;

    font-size: 14px;    /*Возвращаем шрифт*/
    line-height: 20px;

}

.breadcrumbs a {
    position: relative;
    padding-right: 25px;
    margin-right: 15px;
/*Для ссылок отдельное приглашение, цвет и стиль, иначе не сработает*/
    color: #000000;
    text-decoration: none;

}

.breadcrumbs a::after {
    content: "";

    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3px;

    width: 7px;
    height: 7px;

    background-color: #000000;
    transform: rotate(45deg);
}

.breadcrumbs span {
    color: #939393;
}



/* ---------СТИЛИ ОСНОВНОГО КОНТЕНТА----------- */




/* -------- СТИЛИ ФИЛЬТРА ---------*/

.shop-content {
    padding: 0;
    margin: 0;
}

.filter-bar {
    width: 220px;

    float: left;
}

.right-side {
    width: 700px;

    float: right;

    padding: 0;




}

.fiter-form legend {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
}

.fiter-form legend.legend-group {
    margin-top: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
}
label span {
    padding-left: 30px;
}

.btn-filter {
    margin-top: 40px;
}

/* -------- СТИЛИ СПИСКА ТОВАРОВ ---------*/


.item-list {
    min-height: 590px;
    font-size: 0px;
    margin-bottom: 25px;
}

.item {
    display: inline-block;
    position: relative;
    vertical-align: top;

    width: 220px;
    min-height: 285px;


    margin-right: 20px;
    margin-bottom: 20px;

    background-color: #ffffff;

    font-size: 16px;
    line-height: 24px;

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Параметры тени */
}

.item-img {
    width: 220px;
    height: 165px;

    margin: 0;

    background-color: #e5e5e5;

}

.item-name {
    margin-top: 5px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;

}

.item-name a {
    color: #000000;
    text-decoration: none;
}
.item-name span:first-child {
    text-transform: none;
}

.item:nth-child(3n) {
    margin-right: 0;
}

.buy-block {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: 190px;
    font-size: 0px;

}
.buy-block .price  {
    display: inline-block;
    vertical-align: top;
    text-align: center;

    width: 112px;

    padding: 10px 0;

    background: #e5e5e5;

    font-size: 14px;
    line-height: 24px;
}

.buy-btn {
    width: 78px;

    margin: 0px;
    padding:10px 0;


    font-size: 14px;
    line-height: 24px;
}


/* -------- СТИЛИ ПАГИНАЦИИ---------*/





.pagination {
    margin: 0;
    min-height: 40px;
}

.pagination li {
    display: inline-block;
    vertical-align: top;

    margin: 0;

    font-size: 14px;    /*Возвращаем шрифт*/
    line-height: 20px;

}
a.page-btn {
    display: inline-block;
    text-align: center;

    width: 43px;
    padding: 10px 0;
    margin: 0 3px;

    background-color: #000000;

    color: #ffffff;
    text-decoration: none;
}

.page-btn:hover {
    background-color: #663b15;
}
.pagination a.active-page {
    background-color: #ffffff;
    color: #000000;
}






/* ------ СТИЛИ ФУТЕРА ------- */






.main-footer {
    margin-top: 65px;

    background: #202020;
    color: #ffffff;
}

.main-footer .container {
    padding-top: 60px;
    padding-bottom: 40px;
}



.footer-contacts {
    width: 320px;
    margin-right: 60px;
    float: left;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    width: 180px;
    float: left;
    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;

    background: #000000 url("../img/sprite.png") no-repeat center;
    font-size: 0px;

    transition:
        background-position 0.5s,
        background-color 0.5s ;
}
.social-btn-fb {
    background-position: -43px -43px;
}
.social-btn-vk {
    background-position: 0px -43px;
}
.social-btn-inst {
    background-position: -86px -43px;
}


.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-fb:hover {
    background-position: -43px 0;
}
.social-btn-vk:hover {
    background-position: 0px 0;
}
.social-btn-inst:hover {
    background-position: -86px 0;
}

.footer-copyright {
    max-width: 180px;

    float: right;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}











.clearfix::after {
    content: "";
    display: table;
    clear: both;}
